body{
  background-color: grey;
}
img{
  
  height: 40vh !important;
  width: 100% !important;
}
.cardbody{
  background-color: rgb(121, 196, 64);
}
.input-group-text {
  cursor: pointer;
  background-color: #76ca7d;
  color: white;
  font-size: 18px; /* Adjust the font size as needed */
  padding: 8px 12px; /* Adjust the padding as needed */
  box-shadow: 0 0 10px 3px #9ed33a;
}

.d-flex.justify-content-center button {
  position: relative;
  background-color: #000102; /* Blue button color */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  transition: box-shadow 0.3s ease;
}

.d-flex.justify-content-center button:hover {
  box-shadow: 0 0 20px #007bff; /* Blue glow color and size on hover */
}

.d-flex.justify-content-center button:focus {
  outline: none; /* Remove the default focus outline */
  box-shadow: 0 0 20px #007bff; /* Blue glow color and size when focused */
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px #007bff; /* Blue glow color and size */
  }
  50% {
    box-shadow: 0 0 20px #007bff; /* Blue glow color and size */
  }
  100% {
    box-shadow: 0 0 10px #007bff; /* Blue glow color and size */
  }
}

.bg-sandle{
  background-color: rgb(156, 212, 35);
}

/* Responsive Styles */

@media (max-width: 768px) {
  img {
    height: auto !important;
  }

  .cardbody {
    background-color: rgb(101, 111, 114);
  }
}

@media (max-width: 576px) {
  .d-flex.justify-content-center button {
    font-size: 16px;
  }
}